.book-card {
  position: absolute;
  top: 1rem;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  overflow: auto;
}

.book-toolbar {
  display: flex;
  justify-content: space-between;
}

.book-toolbar .add {
  flex: 0 1 40%;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.book-toolbar .search {
  flex: 0 1 40%;
}

.book-toolbar .search .full-width{
  width: 100%;
}
