.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  display: flex;
  flex: 1;
}

.footer {
  height: 30px;
  padding: 10px;
}

.left {
  flex: 1 10%;
  background: teal;
}

.content {
  background: lightgray;
  flex: 1 90%;
  padding: 1rem;
  position: relative;
}

.fill-remain-space {
  flex: 1 1 auto;
}

.sidebar-item {
  text-align: center;
}

.active-link {
  color: #B2DFDB;
}