<div class="detail-container">
  <label class="detail-action"> * You're currently {{action}} a book. </label>
  <form class="detail-form" (submit)="save()" [formGroup]="formModel">
      <mat-form-field>
        <input matInput placeholder="Title" formControlName="title" required >
      </mat-form-field>
      <mat-form-field>
          <input matInput placeholder="Author" formControlName="author" required>
      </mat-form-field>
      <mat-form-field>
          <input matInput placeholder="Publisher" formControlName="publisher" required>
      </mat-form-field>
      <mat-form-field>
          <input matInput placeholder="ISBN" formControlName="ISBN" required>
      </mat-form-field>

      <input type="file" #file style="display: none" multiple [fileUploadInputFor]="fileUploadQueue" />
      <button mat-raised-button type="button" class="upload-button" color="primary" (click)="openFileDialog()">Upload</button>

      <div class="upload-container">
        <app-material-file-upload-queue #fileUploadQueue [fileAlias]="'file'" [httpUrl]="'/api/books/upload'">
            <app-material-file-upload [file]="file" [id]="bookId" *ngFor="let file of fileUploadQueue.files; let i = index">
            </app-material-file-upload>
        </app-material-file-upload-queue>
      </div>

      <button mat-raised-button type="submit" class="save-button">Save</button>
    </form>
</div>