.file-info {
  font-size: .85rem;
}

.file-section {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  height: 10px;
}

a.disabled {
  pointer-events: none;
}

.action {
  cursor: pointer;
  outline: none;
}